/* 印刷時に不要な要素をすべて非表示にするためのやつ */
#status-section,
a[href="index.html"],
#pdf-export-button {
    display: none !important;
}

body {
    margin: 10mm;
    background-color: #fff; 
}

.section {
    box-shadow: none;
    border: 1px solid #ccc;
}